// @import './mediaQueries.scss';

.header {
  background-color: white;
  height: 60px;
  overflow: hidden;

  @include mqTablet {
    height: 80px;
  }
}

.header__container {
  position: relative;
  height: 100%;
  padding: 0 10px;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  
  @include mqTablet {
    width: 80%;
    max-width: 1200px;
    margin: auto;
  }
}

.header__logo {
  width: 100px;
  
  img {
    width: 100%;
    object-fit: contain;
  }

  @include mqTablet {
    width: 120px;
  }
}

.header__nav-menu {
  order: 1;
  font-size: var(--medium);
  
  .nav-button {
    width: 25px;
  }
  .nav-menu-list {
    z-index: 10;
    // display: none;
    position: fixed;
    transition: left .3s;
    display: block;
    background-color: white;
    width: 100%;
    height: calc(100vh - 60px);
    top: 60px;
    left: 100%;
    
    a {
      font-size: var(--medium);
      display: block;
      line-height: 50px;
      border-bottom: solid 2px whitesmoke;
      // background-color: cornflowerblue;
      color: black;
    }
  }

  &.active {
    .nav-menu-list {
      left: 0;
    }
  }
  
  @include mqDesktop {
    order: 0;
    
    .nav-button {
      display: none;
    }
    .nav-menu-list {
      display: flex;
      position: relative;
      top: unset;
      left: unset;
      width: unset;
      height: unset;
      
      a {
        border: none;
      }
    }
  }
}

.header__search {
  flex-grow: 1;

}

.search__container {
  background-color: var(--gray);
  border-radius: 5px;
  height: 30px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;

  input {
    flex-grow: 1;
    display: block;
  }
  button {
    width: 25px;
    
  }
  ::placeholder {
    color: black;
  }
}

.header__cart {
  width: 25px;

}
